body{
    background-color:#F1EBE5;
    
}
.login-title {
    font-size: 40px;
    font-weight: bold;
    margin-top: 10%;
    
  }
.login-card {
    background-color: #ffdde5;
    border: none;
    border-radius: 10%;
    margin-top: 20%;
    height: 500px;
    width: 80%;
  }
  .login-card .form-group {
    margin-bottom: 50px;
  }
  input::placeholder {
    font-family: monospace;
    font-weight: bold;
    font-size:17px;
    border: none;
    text-align: center;
    
}
.jam-png{
    margin-top: 70%;
}
button{
    margin-left: 40%;
    margin-top: 3%;
    font-size: larger;
}
label{
    font-family: monospace;
    font-weight: bold;
    font-size:x-large;
    color:#AE0F17;
}