body {
    background-color:#FAFFC7
}
.jams-logo{
    margin-top: 20%;
}
.title{
    font-family: "Inconsolata", monospace;
    margin-top: 50%;
    padding-bottom: 20px;
    text-align: center;
}
.sub-title{
    font-family:"Inconsolata", monospace;
    font-size: 20px;
    text-align: justify;
}
.sub-title-1 {
    font-family:"Inconsolata", monospace;
    font-size: 20px;
    text-align: justify;
    padding-top: 5%;
}
.about{
    margin-top: 20%;
    font-family:"Inconsolata", monospace;
    text-align: center;


}